.employee-info-header-container {
  display: flex;
  gap: 42px;
  margin-bottom: 40px;
}

.employee-info-header__content h1 {
  margin-bottom: 16px;
}

.employee-info-header__content p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.employee-avatar {
  border-radius: 50%;
  width: 163px;
  height: 163px;
}

.stack-list-desktop {
  display: flex;
  gap: 16px;
}

.stack-list-mobile {
  display: none;
  margin-bottom: 20px;
}

.stack-list-item {
  background-color: var(--hover-color);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
}

.employee-main-info-container {
  max-width: 478px;
}

.employee-main-info-container h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.main-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-info-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
}

.main-info-list-item h3 {
  font-size: 24px;
  font-weight: 500;
  width: 50%;
  white-space: nowrap;
}

.main-info-list-item p {
  font-size: 24px;
  white-space: nowrap;
}

.divider {
  width: 100%;
  border-top: 1px solid var(--hover-color);
  height: 0px;
  margin-bottom: 40px;
}

@media (max-width: 450px) {
  .employee-info-header-container {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
  }

  .employee-avatar {
    width: 100px;
    height: 100px;
  }

  .employee-info-header__content h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .employee-info-header__content p {
    font-size: 14px;
  }

  .stack-list-desktop {
    display: none;
  }

  .stack-list-mobile {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .stack-list-item {
    font-size: 12px;
  }

  .employee-main-info-container {
    max-width: 272px;
  }

  .employee-main-info-container h2 {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .main-info-list {
    gap: 12px;
  }

  .main-info-list-item {
    gap: 18px;
  }

  .main-info-list-item p {
    font-size: 14px;
  }

  .main-info-list-item h3 {
    font-size: 14px;
  }

  .divider {
    margin-bottom: 20px;
  }
}
