.button {
  border: none;
  border-radius: 8px;
  padding: 12px 48px;
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-color-hover);
}

@media (max-width: 320px) {
  .button {
    border-radius: 4px;
    padding: 6px 117px;
    font-size: 12px;
  }
}
