.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color);
  color: var(--font-color);
}

.content-inner {
  padding: 0px 24px;
  max-width: 1608px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html {
  background-color: var(--theme-color);
}

body {
  background-color: var(--theme-color);
}
