.default-theme {
  --theme-color: var(--theme-color-standart);
  --font-color: var(--primary-font-color);
  --box-shadow: var(--box-shadow-standart);
  --hover-color: var(--hover-standart);
}

.dark-theme {
  --theme-color: var(--theme-color-dark);
  --font-color: var(--secondary-font-color);
  --box-shadow: var(--box-shadow-dark);
  --hover-color: var(--hover-dark);
}

.content {
  margin: 0 auto;
  /* max-width: 1610px; */
  background-color: var(--theme-color);
  color: var(--font-color);
}
