.filter-panel-container {
  max-width: 100%;
  width: 100%;
  margin-bottom: 28px;
}

.filter-panel-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 28px;
}

.filter-select-container {
  display: flex;
  gap: 32px;
}

.filter-panel-bottom {
  background-color: var(--hover-color);
  padding: 13px 0px;
  box-sizing: border-box;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 100vw;
}

.filter-panel-bottom-inner {
  max-width: 1608px;
  padding: 0px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar {
  width: 100%;
}

@media (max-width: 450px) {
  .filter-panel-header {
    row-gap: 0px;
  }

  .filter-panel-bottom {
    margin-bottom: 24px;
  }

  .filter-panel-bottom-inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .filter-panel-header h1 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .filter-select-container {
    gap: 12px;
  }

  .search-bar {
    height: 34px;
    margin-bottom: 12px;
  }

  .filter-select-container {
    order: 3;
  }
}
