/* chosen-filter-label styles */

.chosen-filters-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.chosen-filters-container h4 {
  font-weight: 500;
}

.chosen-filter-items-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1145px;
}

.chosen-filter-item {
  border-radius: 5px;
  padding: 10px;
  height: 39px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--theme-color);
  cursor: pointer;
}

.delete-btn {
  width: 10px;
  height: 10px;
}

@media (max-width: 450px) {
  .chosen-filter-item {
    font-size: 12px;
  }

  .chosen-filters-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .chosen-filter-items-container {
    gap: 16px;
  }

  .chosen-filters-container h4 {
    font-size: 14px;
  }
}
